<div class="callout card count clearfix">
    <div class="count-icon float-left">
        <i class="fa fa-pie-chart fa-fw"></i>        
    </div>
    <div>
        <h6>Total Phase 2s</h6>
        <div class="stat"><%= link_to Phase2.count, phase2s_path, class: 'no-link' %></div>
    </div>
</div>