 <div class="callout card">
            
    <div class="callout-header">
        <% if (current_user.userrank == 'admin') || (current_user.userrank == 'seo')  %>
            <%= link_to '<i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i> New'.html_safe, new_business_phase2_path(@business), class: "button secondary small float-right" %>
        <% end %>
        <h4><i class="fa fa-pie-chart fa-fw" aria-hidden="true"></i> Phase 2</h4>
    </div>
    <div class="callout-table">
        <table>
            
            <% @phase2s = @business.phase2s.all.reverse %>
            <% @phase2s.each do |phase2| %>
               <tr>
                    <td>
                        <%= phase2.created_at.to_formatted_s(:long) %>
                    </td>
                    <td class="text-right">
                        <%= link_to '<i class="fa fa-chevron-right fa-fw"></i>'.html_safe, business_phase2_path(@business, phase2) %>
                    </td>
                </tr>
             <% end %>
         
        </table>
    </div>
</div>