<% positiveScore = 0 %>
<% fromScore = 0 %>
<% @phase2 = Phase2.where(:id => params[:id]).first %>

<div class="row imgspace">
    <div class="small-12 columns">
        <h1 class="text-center"><%= Business.find(@phase2.business_id).name %></h1>
    </div>
</div>

<div class="row lead-img"data-equalizer data-equalize-on="medium">
    <div class="medium-3 columns burst" data-equalizer-watch></div>
    <div class="medium-9 columns" data-equalizer-watch>
        <p class="lead">Now that your title tags and meta descriptions are complete and the web crawlers have begun associating your website with your keywords, we will be digging a little bit deeper. Making sure the content of your website is up to date and rich in valuable information can greatly assist in how well your website ranks. We will also look at your website from a technical standpoint.</p>
    </div>
</div>


<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Analysis</h2>
        
        <table class="scores">
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.titleHasKeywords == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.titleHasKeywords == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your home page title tag and meta description contain keywords and locations?</h4>
                    <p>As we discussed during phase 1, title tags and meta descriptions are the most important aspect of SEO. These help the search engines identify what your website and business are all about. Your home page is always going to have the most credibility to the search engines, so it is crucial that the tags are optimized with your keywords, location(s) and business name. </p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.copyHasKeywords == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.copyHasKeywords == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your home page content contain keywords and locations?</h4>
                    <p>When a search is made, Google looks for keywords within your coding, as well as your content, that is relevant to the user's search. The search engines are looking for fresh, engaging and informative content that is also relative to the search. The services offered and the locations you service should always be easy to find within your content and a home page should never have less than 150 characters.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.optimized == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.optimized == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Are your landing pages/service pages optimized?</h4>
                    <p>In order for Google to associate your website with the services you offer, it is important that those landing pages are optimized for the specific service. This should include your title tag, meta description, heading tags, images, content and URL.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.freshContent == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.freshContent == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is your content fresh? Do any pages need to be updated?</h4>
                    <p>Visitors come to your website to learn more about your business and products. Fresh content helps the visitors stay updated, and also lets Google know that you are an active and legitimate business. Keeping your website consistently fresh will keep you towards the top of the rankings.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.imagesNamed == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.imagesNamed == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Are your images properly tagged?</h4>
                    <p>Because search engines cannot see images the same way humans do, it is important to add image alt tags to your photos. This line of code helps the web crawlers identify what your image is and also provides text for a visitor if the image will not load.<br>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.socialMedia == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.socialMedia == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Are links to your social media profiles integrated into your website?</h4>
                    <p>Having your social media links on your website is important in developing customer relationships. It also enhances your rankings due to the outbound links to credible sources like Facebook, Twitter, Google+, and LinkedIn. These websites are viewed as trusted sites and will enhance your site's credibility to search engines.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.googleAnalytics == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.googleAnalytics == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is Google Analytics installed on your website?</h4>
                    <p>Google Analytics is crucial in gathering data relating to your website traffic. This allows you to understand your audience's location, how they found your site, what pages they viewed, and more. Having this knowledge allows you to target them more effectively to get more relevant users to visit your site.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.webmasterTools == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.webmasterTools == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is Google Webmaster Tools installed on your website?</h4>
                    <p>Google Webmaster Tools offers valuable insight by finding errors on your site and also viewing what keywords users searched to get to your site. This, along with Google Analytics, is a powerful tool to increase your SEO rankings, better understand your audience and keep your site secure.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.localBusiness == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.localBusiness == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is Local Business Schema Markup implemented on your website?</h4>
                    <p>This is a tool in Google Webmaster Tools that adds coding around your name, address, phone number, hours of operation and other items that a local searcher would be looking for. This code is a signal to the search engines and is known to improve local search rankings.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.shortURL == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.shortURL == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Are your URLs short and user friendly?</h4>
                    <p>Your page URL should be no more than 115 characters and should describe the corresponding content. name. If I am on the services page, the URL should be www.domain.com/services.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase2.blackHatFree == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase2.blackHatFree == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is your website free of hidden text or other “black hat” tactics that can potentially hurt your rankings?</h4>
                    <p>With SEO, it is important that we are staying inline with Google's standards and not implementing any tactics that they would consider black hat. This could be hidden text, spammy links or keyword stuffing.</p>
                </td>
            </tr>
        </table>
    </div>
</div>




<div class="row trailing-burst">
    <div class="small-12 columns">
        <h3 class="text-center">Overall Score: <span class="blue"> <%= positiveScore %>/<%= fromScore %></span></h3>
    </div>
</div>