<% grouped_options = {
    'Web Application Icons' => [
        ['&#xf042; fa-adjust'.html_safe, 'fa-adjust'],
        ['&#xf13d; fa-anchor'.html_safe, 'fa-anchor'],
        ['&#xf187; fa-archive'.html_safe, 'fa-archive'],
        ['&#xf047; fa-arrows'.html_safe, 'fa-arrows'],
        ['&#xf07e; fa-arrows-h'.html_safe, 'fa-arrows-h'],
        ['&#xf07d; fa-arrows-v'.html_safe, 'fa-arrows-v'],
        ['&#xf069; fa-asterisk'.html_safe, 'fa-asterisk'],
        ['&#xf1fa; fa-at'.html_safe, 'fa-at'],
        ['&#xf24e; fa-balance-scale'.html_safe, 'fa-balance-scale'],
        ['&#xf05e; fa-ban'.html_safe, 'fa-ban'],
        ['&#xf02a; fa-barcode'.html_safe, 'fa-barcode'],
        ['&#xf0c9; fa-bars'.html_safe, 'fa-bars'],
        ['&#xf244; fa-battery-empty'.html_safe, 'fa-battery-empty'],
        ['&#xf240; fa-battery-full'.html_safe, 'fa-battery-full'],
        ['&#xf242; fa-battery-half'.html_safe, 'fa-battery-half'],
        ['&#xf243; fa-battery-quarter'.html_safe, 'fa-battery-quarter'],
        ['&#xf241; fa-battery-three-quarters'.html_safe, 'fa-battery-three-quarters'],
        ['&#xf236; fa-bed'.html_safe, 'fa-bed'],
        ['&#xf0fc; fa-beer'.html_safe, 'fa-beer'],
        ['&#xf0f3; fa-bell'.html_safe, 'fa-bell'],
        ['&#xf0a2; fa-bell-o'.html_safe, 'fa-bell-o'],
        ['&#xf1f6; fa-bell-slash'.html_safe, 'fa-bell-slash'],
        ['&#xf1f7; fa-bell-slash-o'.html_safe, 'fa-bell-slash-o'],
        ['&#xf1e5; fa-binoculars'.html_safe, 'fa-binoculars'],
        ['&#xf1fd; fa-birthday-cake'.html_safe, 'fa-birthday-cake'],
        ['&#xf0e7; fa-bolt'.html_safe, 'fa-bolt'],
        ['&#xf1e2; fa-bomb'.html_safe, 'fa-bomb'],
        ['&#xf02d; fa-book'.html_safe, 'fa-book'],
        ['&#xf02e; fa-bookmark'.html_safe, 'fa-bookmark'],
        ['&#xf097; fa-bookmark-o'.html_safe, 'fa-bookmark-o'],
        ['&#xf0b1; fa-briefcase'.html_safe, 'fa-briefcase'],
        ['&#xf188; fa-bug'.html_safe, 'fa-bug'],
        ['&#xf1ad; fa-building'.html_safe, 'fa-building'],
        ['&#xf0f7; fa-building-o'.html_safe, 'fa-building-o'],
        ['&#xf0a1; fa-bullhorn'.html_safe, 'fa-bullhorn'],
        ['&#xf140; fa-bullseye'.html_safe, 'fa-bullseye'],
        ['&#xf1ec; fa-calculator'.html_safe, 'fa-calculator'],
        ['&#xf073; fa-calendar'.html_safe, 'fa-calendar'],
        ['&#xf274; fa-calendar-check-o'.html_safe, 'fa-calendar-check-o'],
        ['&#xf272; fa-calendar-minus-o'.html_safe, 'fa-calendar-minus-o'],
        ['&#xf133; fa-calendar-o'.html_safe, 'fa-calendar-o'],
        ['&#xf271; fa-calendar-plus-o'.html_safe, 'fa-calendar-plus-o'],
        ['&#xf273; fa-calendar-times-o'.html_safe, 'fa-calendar-times-o'],
        ['&#xf030; fa-camera'.html_safe, 'fa-camera'],
        ['&#xf083; fa-camera-retro'.html_safe, 'fa-camera-retro'],
        ['&#xf150; fa-caret-square-o-down'.html_safe, 'fa-caret-square-o-down'],
        ['&#xf191; fa-caret-square-o-left'.html_safe, 'fa-caret-square-o-left'],
        ['&#xf152; fa-caret-square-o-right'.html_safe, 'fa-caret-square-o-right'],
        ['&#xf151; fa-caret-square-o-up'.html_safe, 'fa-caret-square-o-up'],
        ['&#xf0d8; fa-caret-up'.html_safe, 'fa-caret-up'],
        ['&#xf218; fa-cart-arrow-down'.html_safe, 'fa-cart-arrow-down'],
        ['&#xf217; fa-cart-plus'.html_safe, 'fa-cart-plus'],
        ['&#xf0a3; fa-certificate'.html_safe, 'fa-certificate'],
        ['&#xf00c; fa-check'.html_safe, 'fa-check'],
        ['&#xf1ae; fa-child'.html_safe, 'fa-child'],
        ['&#xf111; fa-circle'.html_safe, 'fa-circle'],
        ['&#xf017; fa-clock-o'.html_safe, 'fa-clock-o'],
        ['&#xf24d; fa-clone'.html_safe, 'fa-clone'],
        ['&#xf0c2; fa-cloud'.html_safe, 'fa-cloud'],
        ['&#xf0ed; fa-cloud-download'.html_safe, 'fa-cloud-download'],
        ['&#xf0ee; fa-cloud-upload'.html_safe, 'fa-cloud-upload'],
        ['&#xf121; fa-code'.html_safe, 'fa-code'],
        ['&#xf0f4; fa-coffee'.html_safe, 'fa-coffee'],
        ['&#xf013; fa-cog'.html_safe, 'fa-cog'],
        ['&#xf085; fa-cogs'.html_safe, 'fa-cogs'],
        ['&#xf075; fa-comment'.html_safe, 'fa-comment'],
        ['&#xf0e5; fa-comment-o'.html_safe, 'fa-comment-o'],
        ['&#xf27a; fa-commenting'.html_safe, 'fa-commenting'],
        ['&#xf27b; fa-commenting-o'.html_safe, 'fa-commenting-o'],
        ['&#xf086; fa-comments'.html_safe, 'fa-comments'],
        ['&#xf0e6; fa-comments-o'.html_safe, 'fa-comments-o'],
        ['&#xf14e; fa-compass'.html_safe, 'fa-compass'],
        ['&#xf125; fa-crop'.html_safe, 'fa-crop'],
        ['&#xf05b; fa-crosshairs'.html_safe, 'fa-crosshairs'],
        ['&#xf1b2; fa-cube'.html_safe, 'fa-cube'],
        ['&#xf1b3; fa-cubes'.html_safe, 'fa-cubes'],
        ['&#xf0f5; fa-cutlery'.html_safe, 'fa-cutlery'],
        ['&#xf1c0; fa-database'.html_safe, 'fa-database'],
        ['&#xf108; fa-desktop'.html_safe, 'fa-desktop'],
        ['&#xf219; fa-diamond'.html_safe, 'fa-diamond'],
        ['&#xf019; fa-download'.html_safe, 'fa-download'],
        ['&#xf141; fa-ellipsis-h'.html_safe, 'fa-ellipsis-h'],
        ['&#xf142; fa-ellipsis-v'.html_safe, 'fa-ellipsis-v'],
        ['&#xf0e0; fa-envelope'.html_safe, 'fa-envelope'],
        ['&#xf003; fa-envelope-o'.html_safe, 'fa-envelope-o'],
        ['&#xf199; fa-envelope-square'.html_safe, 'fa-envelope-square'],
        ['&#xf0ec; fa-exchange'.html_safe, 'fa-exchange'],
        ['&#xf12a; fa-exclamation'.html_safe, 'fa-exclamation'],
        ['&#xf06a; fa-exclamation-circle'.html_safe, 'fa-exclamation-circle'],
        ['&#xf071; fa-exclamation-triangle'.html_safe, 'fa-exclamation-triangle'],
        ['&#xf08e; fa-external-link'.html_safe, 'fa-external-link'],
        ['&#xf14c; fa-external-link-square'.html_safe, 'fa-external-link-square'],
        ['&#xf06e; fa-eye'.html_safe, 'fa-eye'],
        ['&#xf070; fa-eye-slash'.html_safe, 'fa-eye-slash'],
        ['&#xf1fb; fa-eyedropper'.html_safe, 'fa-eyedropper'],
        ['&#xf1ac; fa-fax'.html_safe, 'fa-fax'],
        ['&#xf182; fa-female'.html_safe, 'fa-female'],
        ['&#xf008; fa-film'.html_safe, 'fa-film'],
        ['&#xf0b0; fa-filter'.html_safe, 'fa-filter'],
        ['&#xf06d; fa-fire'.html_safe, 'fa-fire'],
        ['&#xf134; fa-fire-extinguisher'.html_safe, 'fa-fire-extinguisher'],
        ['&#xf024; fa-flag'.html_safe, 'fa-flag'],
        ['&#xf11e; fa-flag-checkered'.html_safe, 'fa-flag-checkered'],
        ['&#xf11d; fa-flag-o'.html_safe, 'fa-flag-o'],
        ['&#xf0c3; fa-flask'.html_safe, 'fa-flask'],
        ['&#xf07b; fa-folder'.html_safe, 'fa-folder'],
        ['&#xf114; fa-folder-o'.html_safe, 'fa-folder-o'],
        ['&#xf07c; fa-folder-open'.html_safe, 'fa-folder-open'],
        ['&#xf115; fa-folder-open-o'.html_safe, 'fa-folder-open-o'],
        ['&#xf119; fa-frown-o'.html_safe, 'fa-frown-o'],
        ['&#xf1e3; fa-futbol-o'.html_safe, 'fa-futbol-o'],
        ['&#xf11b; fa-gamepad'.html_safe, 'fa-gamepad'],
        ['&#xf0e3; fa-gavel'.html_safe, 'fa-gavel'],
        ['&#xf06b; fa-gift'.html_safe, 'fa-gift'],
        ['&#xf000; fa-glass'.html_safe, 'fa-glass'],
        ['&#xf0ac; fa-globe'.html_safe, 'fa-globe'],
        ['&#xf19d; fa-graduation-cap'.html_safe, 'fa-graduation-cap'],
        ['&#xf292; fa-hashtag'.html_safe, 'fa-hashtag'],
        ['&#xf0a0; fa-hdd-o'.html_safe, 'fa-hdd-o'],
        ['&#xf025; fa-headphones'.html_safe, 'fa-headphones'],
        ['&#xf1da; fa-history'.html_safe, 'fa-history'],
        ['&#xf015; fa-home'.html_safe, 'fa-home'],
        ['&#xf254; fa-hourglass'.html_safe, 'fa-hourglass'],
        ['&#xf253; fa-hourglass-end'.html_safe, 'fa-hourglass-end'],
        ['&#xf252; fa-hourglass-half'.html_safe, 'fa-hourglass-half'],
        ['&#xf250; fa-hourglass-o'.html_safe, 'fa-hourglass-o'],
        ['&#xf251; fa-hourglass-start'.html_safe, 'fa-hourglass-start'],
        ['&#xf246; fa-i-cursor'.html_safe, 'fa-i-cursor'],
        ['&#xf01c; fa-inbox'.html_safe, 'fa-inbox'],
        ['&#xf275; fa-industry'.html_safe, 'fa-industry'],
        ['&#xf129; fa-info'.html_safe, 'fa-info'],
        ['&#xf05a; fa-info-circle'.html_safe, 'fa-info-circle'],
        ['&#xf084; fa-key'.html_safe, 'fa-key'],
        ['&#xf11c; fa-keyboard-o'.html_safe, 'fa-keyboard-o'],
        ['&#xf1ab; fa-language'.html_safe, 'fa-language'],
        ['&#xf109; fa-laptop'.html_safe, 'fa-laptop'],
        ['&#xf06c; fa-leaf'.html_safe, 'fa-leaf'],
        ['&#xf094; fa-lemon-o'.html_safe, 'fa-lemon-o'],
        ['&#xf149; fa-level-down'.html_safe, 'fa-level-down'],
        ['&#xf148; fa-level-up'.html_safe, 'fa-level-up'],
        ['&#xf1cd; fa-life-ring'.html_safe, 'fa-life-ring'],
        ['&#xf0eb; fa-lightbulb-o'.html_safe, 'fa-lightbulb-o'],
        ['&#xf124; fa-location-arrow'.html_safe, 'fa-location-arrow'],
        ['&#xf023; fa-lock'.html_safe, 'fa-lock'],
        ['&#xf0d0; fa-magic'.html_safe, 'fa-magic'],
        ['&#xf076; fa-magnet'.html_safe, 'fa-magnet'],
        ['&#xf183; fa-male'.html_safe, 'fa-male'],
        ['&#xf279; fa-map'.html_safe, 'fa-map'],
        ['&#xf041; fa-map-marker'.html_safe, 'fa-map-marker'],
        ['&#xf278; fa-map-o'.html_safe, 'fa-map-o'],
        ['&#xf276; fa-map-pin'.html_safe, 'fa-map-pin'],
        ['&#xf277; fa-map-signs'.html_safe, 'fa-map-signs'],
        ['&#xf11a; fa-meh-o'.html_safe, 'fa-meh-o'],
        ['&#xf130; fa-microphone'.html_safe, 'fa-microphone'],
        ['&#xf131; fa-microphone-slash'.html_safe, 'fa-microphone-slash'],
        ['&#xf068; fa-minus'.html_safe, 'fa-minus'],
        ['&#xf056; fa-minus-circle'.html_safe, 'fa-minus-circle'],
        ['&#xf10b; fa-mobile'.html_safe, 'fa-mobile'],
        ['&#xf186; fa-moon-o'.html_safe, 'fa-moon-o'],
        ['&#xf245; fa-mouse-pointer'.html_safe, 'fa-mouse-pointer'],
        ['&#xf001; fa-music'.html_safe, 'fa-music'],
        ['&#xf1ea; fa-newspaper-o'.html_safe, 'fa-newspaper-o'],
        ['&#xf247; fa-object-group'.html_safe, 'fa-object-group'],
        ['&#xf248; fa-object-ungroup'.html_safe, 'fa-object-ungroup'],
        ['&#xf1fc; fa-paint-brush'.html_safe, 'fa-paint-brush'],
        ['&#xf1d8; fa-paper-plane'.html_safe, 'fa-paper-plane'],
        ['&#xf1d9; fa-paper-plane-o'.html_safe, 'fa-paper-plane-o'],
        ['&#xf1b0; fa-paw'.html_safe, 'fa-paw'],
        ['&#xf040; fa-pencil'.html_safe, 'fa-pencil'],
        ['&#xf14b; fa-pencil-square'.html_safe, 'fa-pencil-square'],
        ['&#xf044; fa-pencil-square-o'.html_safe, 'fa-pencil-square-o'],
        ['&#xf295; fa-percent'.html_safe, 'fa-percent'],
        ['&#xf095; fa-phone'.html_safe, 'fa-phone'],
        ['&#xf098; fa-phone-square'.html_safe, 'fa-phone-square'],
        ['&#xf03e; fa-picture-o'.html_safe, 'fa-picture-o'],
        ['&#xf1e6; fa-plug'.html_safe, 'fa-plug'],
        ['&#xf067; fa-plus'.html_safe, 'fa-plus'],
        ['&#xf055; fa-plus-circle'.html_safe, 'fa-plus-circle'],
        ['&#xf011; fa-power-off'.html_safe, 'fa-power-off'],
        ['&#xf02f; fa-print'.html_safe, 'fa-print'],
        ['&#xf029; fa-qrcode'.html_safe, 'fa-qrcode'],
        ['&#xf128; fa-question'.html_safe, 'fa-question'],
        ['&#xf059; fa-question-circle'.html_safe, 'fa-question-circle'],
        ['&#xf10d; fa-quote-left'.html_safe, 'fa-quote-left'],
        ['&#xf10e; fa-quote-right'.html_safe, 'fa-quote-right'],
        ['&#xf1b8; fa-recycle'.html_safe, 'fa-recycle'],
        ['&#xf25d; fa-registered'.html_safe, 'fa-registered'],
        ['&#xf112; fa-reply'.html_safe, 'fa-reply'],
        ['&#xf122; fa-reply-all'.html_safe, 'fa-reply-all'],
        ['&#xf079; fa-retweet'.html_safe, 'fa-retweet'],
        ['&#xf018; fa-road'.html_safe, 'fa-road'],
        ['&#xf09e; fa-rss'.html_safe, 'fa-rss'],
        ['&#xf143; fa-rss-square'.html_safe, 'fa-rss-square'],
        ['&#xf002; fa-search'.html_safe, 'fa-search'],
        ['&#xf010; fa-search-minus'.html_safe, 'fa-search-minus'],
        ['&#xf00e; fa-search-plus'.html_safe, 'fa-search-plus'],
        ['&#xf233; fa-server'.html_safe, 'fa-server'],
        ['&#xf064; fa-share'.html_safe, 'fa-share'],
        ['&#xf1e0; fa-share-alt'.html_safe, 'fa-share-alt'],
        ['&#xf1e1; fa-share-alt-square'.html_safe, 'fa-share-alt-square'],
        ['&#xf14d; fa-share-square'.html_safe, 'fa-share-square'],
        ['&#xf045; fa-share-square-o'.html_safe, 'fa-share-square-o'],
        ['&#xf132; fa-shield'.html_safe, 'fa-shield'],
        ['&#xf290; fa-shopping-bag'.html_safe, 'fa-shopping-bag'],
        ['&#xf291; fa-shopping-basket'.html_safe, 'fa-shopping-basket'],
        ['&#xf07a; fa-shopping-cart'.html_safe, 'fa-shopping-cart'],
        ['&#xf012; fa-signal'.html_safe, 'fa-signal'],
        ['&#xf0e8; fa-sitemap'.html_safe, 'fa-sitemap'],
        ['&#xf1de; fa-sliders'.html_safe, 'fa-sliders'],
        ['&#xf118; fa-smile-o'.html_safe, 'fa-smile-o'],
        ['&#xf0dc; fa-sort'.html_safe, 'fa-sort'],
        ['&#xf15d; fa-sort-alpha-asc'.html_safe, 'fa-sort-alpha-asc'],
        ['&#xf15e; fa-sort-alpha-desc'.html_safe, 'fa-sort-alpha-desc'],
        ['&#xf160; fa-sort-amount-asc'.html_safe, 'fa-sort-amount-asc'],
        ['&#xf161; fa-sort-amount-desc'.html_safe, 'fa-sort-amount-desc'],
        ['&#xf0de; fa-sort-asc'.html_safe, 'fa-sort-asc'],
        ['&#xf0dd; fa-sort-desc'.html_safe, 'fa-sort-desc'],
        ['&#xf162; fa-sort-numeric-asc'.html_safe, 'fa-sort-numeric-asc'],
        ['&#xf163; fa-sort-numeric-desc'.html_safe, 'fa-sort-numeric-desc'],
        ['&#xf1b1; fa-spoon'.html_safe, 'fa-spoon'],
        ['&#xf005; fa-star'.html_safe, 'fa-star'],
        ['&#xf089; fa-star-half'.html_safe, 'fa-star-half'],
        ['&#xf123; fa-star-half-o'.html_safe, 'fa-star-half-o'],
        ['&#xf006; fa-star-o'.html_safe, 'fa-star-o'],
        ['&#xf249; fa-sticky-note'.html_safe, 'fa-sticky-note'],
        ['&#xf24a; fa-sticky-note-o'.html_safe, 'fa-sticky-note-o'],
        ['&#xf21d; fa-street-view'.html_safe, 'fa-street-view'],
        ['&#xf0f2; fa-suitcase'.html_safe, 'fa-suitcase'],
        ['&#xf185; fa-sun-o'.html_safe, 'fa-sun-o'],
        ['&#xf10a; fa-tablet'.html_safe, 'fa-tablet'],
        ['&#xf0e4; fa-tachometer'.html_safe, 'fa-tachometer'],
        ['&#xf02b; fa-tag'.html_safe, 'fa-tag'],
        ['&#xf02c; fa-tags'.html_safe, 'fa-tags'],
        ['&#xf0ae; fa-tasks'.html_safe, 'fa-tasks'],
        ['&#xf26c; fa-television'.html_safe, 'fa-television'],
        ['&#xf120; fa-terminal'.html_safe, 'fa-terminal'],
        ['&#xf08d; fa-thumb-tack'.html_safe, 'fa-thumb-tack'],
        ['&#xf145; fa-ticket'.html_safe, 'fa-ticket'],
        ['&#xf00d; fa-times'.html_safe, 'fa-times'],
        ['&#xf057; fa-times-circle'.html_safe, 'fa-times-circle'],
        ['&#xf05c; fa-times-circle-o'.html_safe, 'fa-times-circle-o'],
        ['&#xf043; fa-tint'.html_safe, 'fa-tint'],
        ['&#xf204; fa-toggle-off'.html_safe, 'fa-toggle-off'],
        ['&#xf205; fa-toggle-on'.html_safe, 'fa-toggle-on'],
        ['&#xf25c; fa-trademark'.html_safe, 'fa-trademark'],
        ['&#xf1f8; fa-trash'.html_safe, 'fa-trash'],
        ['&#xf014; fa-trash-o'.html_safe, 'fa-trash-o'],
        ['&#xf1bb; fa-tree'.html_safe, 'fa-tree'],
        ['&#xf091; fa-trophy'.html_safe, 'fa-trophy'],
        ['&#xf0e9; fa-umbrella'.html_safe, 'fa-umbrella'],
        ['&#xf19c; fa-university'.html_safe, 'fa-university'],
        ['&#xf09c; fa-unlock'.html_safe, 'fa-unlock'],
        ['&#xf13e; fa-unlock-alt'.html_safe, 'fa-unlock-alt'],
        ['&#xf093; fa-upload'.html_safe, 'fa-upload'],
        ['&#xf007; fa-user'.html_safe, 'fa-user'],
        ['&#xf234; fa-user-plus'.html_safe, 'fa-user-plus'],
        ['&#xf21b; fa-user-secret'.html_safe, 'fa-user-secret'],
        ['&#xf235; fa-user-times'.html_safe, 'fa-user-times'],
        ['&#xf0c0; fa-users'.html_safe, 'fa-users'],
        ['&#xf03d; fa-video-camera'.html_safe, 'fa-video-camera'],
        ['&#xf027; fa-volume-down'.html_safe, 'fa-volume-down'],
        ['&#xf026; fa-volume-off'.html_safe, 'fa-volume-off'],
        ['&#xf028; fa-volume-up'.html_safe, 'fa-volume-up'],
        ['&#xf1eb; fa-wifi'.html_safe, 'fa-wifi'],
        ['&#xf0ad; fa-wrench'.html_safe, 'fa-wrench']],
    
    'Accessibility Icons' => [
        ['&#xf2a3; fa-american-sign-language-interpreting'.html_safe, 'fa-american-sign-language-interpreting'],
        ['&#xf2a2; fa-assistive-listening-systems'.html_safe, 'fa-assistive-listening-systems'],
        ['&#xf29e; fa-audio-description'.html_safe, 'fa-audio-description'],
        ['&#xf29d; fa-blind'.html_safe, 'fa-blind'],
        ['&#xf2a1; fa-braille'.html_safe, 'fa-braille'],
        ['&#xf20a; fa-cc'.html_safe, 'fa-cc'],
        ['&#xf2a4; fa-deaf'.html_safe, 'fa-deaf'],
        ['&#xf2a8; fa-low-vision'.html_safe, 'fa-low-vision'],
        ['&#xf29c; fa-question-circle-o'.html_safe, 'fa-question-circle-o'],
        ['&#xf2a7; fa-sign-language'.html_safe, 'fa-sign-language'],
        ['&#xf1e4; fa-tty'.html_safe, 'fa-tty'],
        ['&#xf29a; fa-universal-access'.html_safe, 'fa-universal-access'],
        ['&#xf2a0; fa-volume-control-phone'.html_safe, 'fa-volume-control-phone'],
        ['&#xf193; fa-wheelchair'.html_safe, 'fa-wheelchair'],
        ['&#xf29b; fa-wheelchair-alt'.html_safe, 'fa-wheelchair-alt']],
    
    'Hand Icons' => [
        ['&#xf258; fa-hand-lizard-o'.html_safe, 'fa-hand-lizard-o'],
        ['&#xf0a7; fa-hand-o-down'.html_safe, 'fa-hand-o-down'],
        ['&#xf0a5; fa-hand-o-left'.html_safe, 'fa-hand-o-left'],
        ['&#xf0a4; fa-hand-o-right'.html_safe, 'fa-hand-o-right'],
        ['&#xf0a6; fa-hand-o-up'.html_safe, 'fa-hand-o-up'],
        ['&#xf256; fa-hand-paper-o'.html_safe, 'fa-hand-paper-o'],
        ['&#xf25b; fa-hand-peace-o'.html_safe, 'fa-hand-peace-o'],
        ['&#xf25a; fa-hand-pointer-o'.html_safe, 'fa-hand-pointer-o'],
        ['&#xf255; fa-hand-rock-o'.html_safe, 'fa-hand-rock-o'],
        ['&#xf257; fa-hand-scissors-o'.html_safe, 'fa-hand-scissors-o'],
        ['&#xf259; fa-hand-spock-o'.html_safe, 'fa-hand-spock-o'],
        ['&#xf165; fa-thumbs-down'.html_safe, 'fa-thumbs-down'],
        ['&#xf088; fa-thumbs-o-down'.html_safe, 'fa-thumbs-o-down'],
        ['&#xf087; fa-thumbs-o-up'.html_safe, 'fa-thumbs-o-up'],
        ['&#xf164; fa-thumbs-up'.html_safe, 'fa-thumbs-up']],
    
    'Transportation Icons' => [
        ['&#xf0f9; fa-ambulance'.html_safe, 'fa-ambulance'],
        ['&#xf206; fa-bicycle'.html_safe, 'fa-bicycle'],
        ['&#xf207; fa-bus'.html_safe, 'fa-bus'],
        ['&#xf1b9; fa-car'.html_safe, 'fa-car'],
        ['&#xf0fb; fa-fighter-jet'.html_safe, 'fa-fighter-jet'],
        ['&#xf21c; fa-motorcycle'.html_safe, 'fa-motorcycle'],
        ['&#xf072; fa-plane'.html_safe, 'fa-plane'],
        ['&#xf135; fa-rocket'.html_safe, 'fa-rocket'],
        ['&#xf21a; fa-ship'.html_safe, 'fa-ship'],
        ['&#xf197; fa-space-shuttle'.html_safe, 'fa-space-shuttle'],
        ['&#xf239; fa-subway'.html_safe, 'fa-subway'],
        ['&#xf1ba; fa-taxi'.html_safe, 'fa-taxi'],
        ['&#xf238; fa-train'.html_safe, 'fa-train'],
        ['&#xf0d1; fa-truck'.html_safe, 'fa-truck']],
    
    'Gender Icons' => [
        ['&#xf22d; fa-genderless'.html_safe, 'fa-genderless'],
        ['&#xf222; fa-mars'.html_safe, 'fa-mars'],
        ['&#xf227; fa-mars-double'.html_safe, 'fa-mars-double'],
        ['&#xf229; fa-mars-stroke'.html_safe, 'fa-mars-stroke'],
        ['&#xf22b; fa-mars-stroke-h'.html_safe, 'fa-mars-stroke-h'],
        ['&#xf22a; fa-mars-stroke-v'.html_safe, 'fa-mars-stroke-v'],
        ['&#xf223; fa-mercury'.html_safe, 'fa-mercury'],
        ['&#xf22c; fa-neuter'.html_safe, 'fa-neuter'],
        ['&#xf224; fa-transgender'.html_safe, 'fa-transgender'],
        ['&#xf225; fa-transgender-alt'.html_safe, 'fa-transgender-alt'],
        ['&#xf221; fa-venus'.html_safe, 'fa-venus'],
        ['&#xf226; fa-venus-double'.html_safe, 'fa-venus-double'],
        ['&#xf228; fa-venus-mars'.html_safe, 'fa-venus-mars']],
        
    'File Type Icons' => [
        ['&#xf15b; fa-file'.html_safe, 'fa-file'],
        ['&#xf1c6; fa-file-archive-o'.html_safe, 'fa-file-archive-o'],
        ['&#xf1c7; fa-file-audio-o'.html_safe, 'fa-file-audio-o'],
        ['&#xf1c9; fa-file-code-o'.html_safe, 'fa-file-code-o'],
        ['&#xf1c3; fa-file-excel-o'.html_safe, 'fa-file-excel-o'],
        ['&#xf1c5; fa-file-image-o'.html_safe, 'fa-file-image-o'],
        ['&#xf016; fa-file-o'.html_safe, 'fa-file-o'],
        ['&#xf1c1; fa-file-pdf-o'.html_safe, 'fa-file-pdf-o'],
        ['&#xf1c4; fa-file-powerpoint-o'.html_safe, 'fa-file-powerpoint-o'],
        ['&#xf1c8; fa-file-video-o'.html_safe, 'fa-file-video-o'],
        ['&#xf1c2; fa-file-word-o'.html_safe, 'fa-file-word-o']],
    
    'Spinner Icons' => [
        ['&#xf1ce; fa-circle-o-notch'.html_safe, 'fa-circle-o-notch'],
        ['&#xf013; fa-cog'.html_safe, 'fa-cog'],
        ['&#xf021; fa-refresh'.html_safe, 'fa-refresh'],
        ['&#xf110; fa-spinner'.html_safe, 'fa-spinner']],
    
    'Form Control Icons' => [
        ['&#xf14a; fa-check-square'.html_safe, 'fa-check-square'],
        ['&#xf046; fa-check-square-o'.html_safe, 'fa-check-square-o'],
        ['&#xf058; fa-check-circle'.html_safe, 'fa-check-circle'],
        ['&#xf05d; fa-check-circle-o'.html_safe, 'fa-check-circle-o'],
        ['&#xf192; fa-dot-circle-o'.html_safe, 'fa-dot-circle-o'],
        ['&#xf146; fa-minus-square'.html_safe, 'fa-minus-square'],
        ['&#xf147; fa-minus-square-o'.html_safe, 'fa-minus-square-o'],
        ['&#xf0fe; fa-plus-square'.html_safe, 'fa-plus-square'],
        ['&#xf196; fa-plus-square-o'.html_safe, 'fa-plus-square-o'],
        ['&#xf0c8; fa-square'.html_safe, 'fa-square'],
        ['&#xf096; fa-square-o'.html_safe, 'fa-square-o']],
    
    'Payment Icons' => [
        ['&#xf09d; fa-credit-card'.html_safe, 'fa-credit-card'],
        ['&#xf283; fa-credit-card-alt'.html_safe, 'fa-credit-card-alt']],
    
    'Currency Icons' => [
        ['&#xf15a; fa-btc'.html_safe, 'fa-btc'],
        ['&#xf153; fa-eur'.html_safe, 'fa-eur'],
        ['&#xf154; fa-gbp'.html_safe, 'fa-gbp'],
        ['&#xf260; fa-gg'.html_safe, 'fa-gg'],
        ['&#xf261; fa-gg-circle'.html_safe, 'fa-gg-circle'],
        ['&#xf20b; fa-ils'.html_safe, 'fa-ils'],
        ['&#xf156; fa-inr'.html_safe, 'fa-inr'],
        ['&#xf157; fa-jpy'.html_safe, 'fa-jpy'],
        ['&#xf159; fa-krw'.html_safe, 'fa-krw'],
        ['&#xf0d6; fa-money'.html_safe, 'fa-money'],
        ['&#xf158; fa-rub'.html_safe, 'fa-rub'],
        ['&#xf195; fa-try'.html_safe, 'fa-try'],
        ['&#xf155; fa-usd'.html_safe, 'fa-usd']],
    
    'Text Editor Icons' => [
        ['&#xf037; fa-align-center'.html_safe, 'fa-align-center'],
        ['&#xf039; fa-align-justify'.html_safe, 'fa-align-justify'],
        ['&#xf036; fa-align-left'.html_safe, 'fa-align-left'],
        ['&#xf038; fa-align-right'.html_safe, 'fa-align-right'],
        ['&#xf032; fa-bold'.html_safe, 'fa-bold'],
        ['&#xf127; fa-chain-broken'.html_safe, 'fa-chain-broken'],
        ['&#xf0ea; fa-clipboard'.html_safe, 'fa-clipboard'],
        ['&#xf0db; fa-columns'.html_safe, 'fa-columns'],
        ['&#xf12d; fa-eraser'.html_safe, 'fa-eraser'],
        ['&#xf15b; fa-file'.html_safe, 'fa-file'],
        ['&#xf0c5; fa-files-o'.html_safe, 'fa-files-o'],
        ['&#xf15c; fa-file-text'.html_safe, 'fa-file-text'],
        ['&#xf0f6; fa-file-text-o'.html_safe, 'fa-file-text-o'],
        ['&#xf0c7; fa-floppy-o'.html_safe, 'fa-floppy-o'],
        ['&#xf031; fa-font'.html_safe, 'fa-font'],
        ['&#xf1dc; fa-header'.html_safe, 'fa-header'],
        ['&#xf03c; fa-indent'.html_safe, 'fa-indent'],
        ['&#xf033; fa-italic'.html_safe, 'fa-italic'],
        ['&#xf0c1; fa-link'.html_safe, 'fa-link'],
        ['&#xf03a; fa-list'.html_safe, 'fa-list'],
        ['&#xf022; fa-list-alt'.html_safe, 'fa-list-alt'],
        ['&#xf0cb; fa-list-ol'.html_safe, 'fa-list-ol'],
        ['&#xf0ca; fa-list-ul'.html_safe, 'fa-list-ul'],
        ['&#xf03b; fa-outdent'.html_safe, 'fa-outdent'],
        ['&#xf0c6; fa-paperclip'.html_safe, 'fa-paperclip'],
        ['&#xf1dd; fa-paragraph'.html_safe, 'fa-paragraph'],
        ['&#xf01e; fa-repeat'.html_safe, 'fa-repeat'],
        ['&#xf0c4; fa-scissors'.html_safe, 'fa-scissors'],
        ['&#xf0cc; fa-strikethrough'.html_safe, 'fa-strikethrough'],
        ['&#xf12c; fa-subscript'.html_safe, 'fa-subscript'],
        ['&#xf12b; fa-superscript'.html_safe, 'fa-superscript'],
        ['&#xf0ce; fa-table'.html_safe, 'fa-table'],
        ['&#xf034; fa-text-height'.html_safe, 'fa-text-height'],
        ['&#xf035; fa-text-width'.html_safe, 'fa-text-width'],
        ['&#xf00a; fa-th'.html_safe, 'fa-th'],
        ['&#xf009; fa-th-large'.html_safe, 'fa-th-large'],
        ['&#xf00b; fa-th-list'.html_safe, 'fa-th-list'],
        ['&#xf0cd; fa-underline'.html_safe, 'fa-underline'],
        ['&#xf0e2; fa-undo'.html_safe, 'fa-undo']],
    
    'Video Player Icons' => [
        ['&#xf0b2; fa-arrows-alt'.html_safe, 'fa-arrows-alt'],
        ['&#xf04a; fa-backward'.html_safe, 'fa-backward'],
        ['&#xf066; fa-compress'.html_safe, 'fa-compress'],
        ['&#xf052; fa-eject'.html_safe, 'fa-eject'],
        ['&#xf065; fa-expand'.html_safe, 'fa-expand'],
        ['&#xf049; fa-fast-backward'.html_safe, 'fa-fast-backward'],
        ['&#xf050; fa-fast-forward'.html_safe, 'fa-fast-forward'],
        ['&#xf04e; fa-forward'.html_safe, 'fa-forward'],
        ['&#xf04c; fa-pause'.html_safe, 'fa-pause'],
        ['&#xf28b; fa-pause-circle'.html_safe, 'fa-pause-circle'],
        ['&#xf28c; fa-pause-circle-o'.html_safe, 'fa-pause-circle-o'],
        ['&#xf04b; fa-play'.html_safe, 'fa-play'],
        ['&#xf144; fa-play-circle'.html_safe, 'fa-play-circle'],
        ['&#xf01d; fa-play-circle-o'.html_safe, 'fa-play-circle-o'],
        ['&#xf074; fa-random'.html_safe, 'fa-random'],
        ['&#xf048; fa-step-backward'.html_safe, 'fa-step-backward'],
        ['&#xf051; fa-step-forward'.html_safe, 'fa-step-forward'],
        ['&#xf04d; fa-stop'.html_safe, 'fa-stop'],
        ['&#xf28d; fa-stop-circle'.html_safe, 'fa-stop-circle'],
        ['&#xf28e; fa-stop-circle-o'.html_safe, 'fa-stop-circle-o'],
        ['&#xf16a; fa-youtube-play'.html_safe, 'fa-youtube-play']],
    
    'Medical Icons' => [
        ['&#xf0f9; fa-ambulance'.html_safe, 'fa-ambulance'],
        ['&#xf0fd; fa-h-square'.html_safe, 'fa-h-square'],
        ['&#xf004; fa-heart'.html_safe, 'fa-heart'],
        ['&#xf08a; fa-heart-o'.html_safe, 'fa-heart-o'],
        ['&#xf21e; fa-heartbeat'.html_safe, 'fa-heartbeat'],
        ['&#xf0f8; fa-hospital-o'.html_safe, 'fa-hospital-o'],
        ['&#xf0fa; fa-medkit'.html_safe, 'fa-medkit'],
        ['&#xf0fe; fa-plus-square'.html_safe, 'fa-plus-square'],
        ['&#xf0f1; fa-stethoscope'.html_safe, 'fa-stethoscope'],
        ['&#xf0f0; fa-user-md'.html_safe, 'fa-user-md'],
        ['&#xf193; fa-wheelchair'.html_safe, 'fa-wheelchair'],
        ['&#xf29b; fa-wheelchair-alt'.html_safe, 'fa-wheelchair-alt']]
}%>

<div class="callout-table">
    <table>
        <tr>
            <th class="narrow"><%= f.label :name %></th>
            <td><%= f.text_field :name %></td>
        </tr>
        <tr>
        <th class="narrow"><%= f.label :icon %></th>
            <td><%= f.select(:icon, grouped_options_for_select(grouped_options,selected_key = @vertical.icon), {}, { :class => 'icon-dropdown' }) %></td>
        </tr>
    </table>
</div>