<div class="wrap wrap-user">
    <i class="fa fa-user fa-lg fa-fw"></i>
    <%= f.text_field :username, placeholder: "User Name" %>
</div>

<div class="wrap wrap-user">
    <i class="fa fa-envelope fa-lg fa-fw"></i>
    <%= f.text_field :email, placeholder: "Email" %>
</div>
  
<div class="wrap wrap-pass">
    <i class="fa fa-lock fa-lg fa-fw"></i>
    <%= f.password_field :password, placeholder: "Password" %>
 </div>
  
<div class="wrap wrap-pass">
    <i class="fa fa-lock fa-lg fa-fw"></i>
    <%= f.password_field :password_confirmation, placeholder: "Password Confirm" %>
 </div>