<div class="callout card count clearfix">
    <div class="count-icon float-left">
        <i class="fa fa-puzzle-piece fa-fw"></i>        
    </div>
    <div>
        <h6>Total Phase 3s</h6>
        <div class="stat"><%= Phase3.count %></div>
    </div>
</div>