<% positiveScore = 0 %>
<% fromScore = 0 %>
<% @phase3 = Phase3.where(:id => params[:id]).first %>


<div class="row lead-img"data-equalizer data-equalize-on="medium">
    <div class="medium-3 columns arrows" data-equalizer-watch></div>
    <div class="medium-9 columns" data-equalizer-watch>
        <h1 class="business-name"><%= Business.find(@phase3.business_id).name %></h1>
        <p class="lead">In phase 3 we are going to dig even deeper, because nothing is more important to SEO than fresh website updates. Here we are going to make sure your site structure is easy to navigate and that potential customers can find you and contact you easily.</p>
    </div>
</div>

<div class="row">
    <div class="small-12 columns">
        <h2 class="text-center">Analysis</h2>
        
        <table class="scores">
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.xmlSitemap == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.xmlSitemap == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your website have an XML sitemap?</h4>
                    <p>XML sitemaps are used to help the web crawlers navigate throughout your website. They also help create a site structure and hierarchy. This is important for larger websites so that no pages are missed during a crawl.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.visitorSitemap == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.visitorSitemap == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your website have a visitor facing sitemap?</h4>
                    <p>A visitor facing sitemap does all the same things as an XML, but is visible from your website. This is to help visitors find pages and navigate through the site. This also creates internal linking opportunities.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.internalAudit == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.internalAudit == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Are there any missing internal link opportunities?</h4>
                    <p>Internal links are helpful in guiding visitors from one page to another. These are placed within your content when a keyword or phrase is linked to a corresponding page. Just like sitemaps, these help the web crawlers navigate your pages.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.contactForm == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.contactForm == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your website have a contact form?</h4>
                    <p>Contact forms are a helpful way for visitors and potential customers to get in touch with you. They should include a field for Name, Phone Number, Email Address, and a Message/Question.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.map == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.map == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is there a map on your website or a link to get directions?</h4>
                    <p>It is helpful to have a Google Map embedded on your contact us page, along with your address. This is known to improve your rankings and help in local search.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.favicon == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.favicon == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your website have a favicon?</h4>
                    <p>A favicon is the icon/image that appears in your browser's tab. It can be a shrunken down version of your logo, or just a symbol that represents your business. A favicon is important for not only brand recognition but also for convenience and user friendliness. A major factor in SEO is useability. If a visitor can land on your website and know they arrived at the right place, your average time on site will increase, your bounce rate will decrease,  and in turn, search rankings will increase.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.flashFree == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.flashFree == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Is your website flash free?</h4>
                    <p>Flash is an outdated technology that was once used to deliver rich multimedia content. Flash is not only difficult for crawlers, but it does not translate to mobile.</p>
                </td>
            </tr>
            <tr>
                <th class="narrow">
                    <% fromScore += 1 %>
                    <% if @phase3.conversionOp == 'yes' %>
                        <% positiveScore += 1 %>
                        <div class="score positive"></div>
                    <% elsif @phase3.conversionOp == 'no' %>
                        <div class="score negative"></div>
                    <% else %>
                        <div class="score"></div>
                    <% end %>
                </th>
                <td>
                    <h4>Does your website have enough conversion opportunities above the fold?</h4>
                    <p>A websites main function is to convert visitors to customers. Our job is to make sure it is easy for these potential customers to contact you by placing call to action buttons, a prominent phone number, a contact form, or a request appointment button in plain sight.</p>
                </td>
            </tr>
    
        </table>
        
    </div>
</div>



<div class="row trailing-arrows">
    <div class="small-12 columns">
        <h3 class="text-center">Overall Score: <span class="blue"> <%= positiveScore %>/<%= fromScore %></span></h3>
    </div>
</div>