<div class="report-header">
    <h1>Phase <%= params[:phase] %></h1>
</div>

<% if params[:phase] == '1' %>
    <%= render 'phase1s/report' %>
<% elsif params[:phase] == '2' %>
    <%= render 'phase2s/report' %>
<% elsif params[:phase] == '3' %>
    <%= render 'phase3s/report' %>
<% else %>

Woah there! You're not supposed to be here!


<% end %>