<div class="page-title">
    <h1>Help</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li>Help</li>
        <li>
          <span class="show-for-sr">Current: </span> Troubleshooting
        </li>
      </ul>
    </nav>
</div>

<div class="callout card">
    <div class="callout-header">
        <h4>FAQs</h4>
    </div>
    <div class="callout-body">
        <h5>What does SEO mean?</h4>
        <p>SEO means 'Search Engine Optimization'.</p>
    </div>
</div>