<div class="page-title">
    <h1>Help</h1>
    <h4 class="subheader">FAQs and Troubleshooting</h4>
</div>

<div class="callout">
    <div class="callout-header">
        <h4>FAQs</h4>
    </div>
    <div class="callout-body">
        <h5>What does SEO mean?</h4>
        <p>SEO means 'Search Engine Optimization'.</p>
    </div>
</div>