<div class="callout card">
  <div class="callout-header">
    <div class="row">
        <div class="small-6 columns">
          <%= link_to(image_tag("logo-dark.png", :alt => "logo", :title => "Home"), "/") %>
        </div>
        
        <div class="small-6 columns">
          <ul class="menu align-right">
            <li><a class="active" href="#">Log In</a></li>
            <li><a href="#">Register</a></li>
          </ul>
        </div>
      
    </div>
  </div>
  <div class="callout-body text-center">
    <h3>Welcome Back</h3>
    
    <%= link_to 'Log In', dashboard_path, class: 'button' %>
  </div>
</div>