<div class="page-title">
    <h1><%= @business.name %></h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Businesses',  businesses_path %></li>
        <li><%= link_to @business.name, business_path(@business) %></li>
        <li><%= link_to 'Phase 1',  business_phase1_path(@business, @phase1) %></li>
        <li>
          <span class="show-for-sr">Current: </span> New Headers
        </li>
      </ul>
    </nav>
</div>