/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 *= require font-awesome
 */
 
 @mixin box-shadow( $horiz : 0px , $vert : 0px , $blur : 5px , $spread : 0px , $color : rgba(0,0,0,.25) ){
  -webkit-box-shadow: $horiz $vert $blur $spread $color;
  -moz-box-shadow: $horiz $vert $blur $spread $color;
  box-shadow: $horiz $vert $blur $spread $color;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin linearGradient($top, $bottom){
    background: $top; /* Old browsers */
    background: -moz-linear-gradient(top,  $top 0%, $bottom 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  $top 0%,$bottom 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  $top 0%,$bottom 100%); /* IE10+ */
    background: linear-gradient(to bottom,  $top 0%,$bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}
// rotate
@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}

$green: #c8da00;
$green-txt: #b3c300;
$blue: #50c4d1;
$light-grey: #eef1f5;
$grey: #babab3;
$mid-grey: #83878c;
$dark-grey: #414b57;
$half-white: rgba(255,255,255,.5);

body{
    background: $dark-grey;
    font-family: 'Roboto', sans-serif;
}

hr{
    &.phaseHR{
        margin:3em auto;
    }
}

a{
    @include transition(all .3s ease);
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

h1{ font-size: 1.75rem; }
h2{ font-size: 1.5rem; }
h3{ font-size: 1.25rem; }
h4{ font-size: 1.15rem; }
h5{ font-size: 1.1rem; }
h6{ font-size: 1rem; }

.icon-dropdown{
    font-family: 'FontAwesome','Roboto', sans-serif;
    
    optgroup{
            margin:0 .5em;
        
        & + optgroup{
            border-top:1px solid $light-grey;
            margin-top:.7em;
            padding-top:.5em;
        }
    }
}


.page-title{
    line-height: 1;
    margin-bottom:15px;
    
    h1{
        margin-bottom:0;
    }
    
    .subheader{
        margin-top:0;
    }
    
    .breadcrumbs{
        margin-bottom:1em;
        
        li{
            font-size:.9em;
            text-transform:none;
            color:$grey;
            font-family: 'Roboto Condensed', sans-serif;
            
            a{
                color:$mid-grey;
                
                &:hover,
                &:active{
                    color:$dark-grey;
                    text-decoration:none;
                }
            }
        }
    }
}

.button.fancy{
    background: $dark-grey;
    padding: .65em 4em;
        
    -webkit-box-shadow: -4px 3px 0px 0px $blue,  2px -3px 0px 0px $green;
    -moz-box-shadow:    -4px 3px 0px 0px $blue,  2px -3px 0px 0px $green;
    box-shadow:         -3px 2px 0px 0px $blue,  2px -3px 0px 0px $green;

    &:hover{
        background: $mid-grey;
    }
    
    &:active, &:focus{
        background: $mid-grey;
    }
}

.button.secondary{
    background: $blue;
    text-transform:uppercase;
    margin-bottom:0;
    
    &:hover{
        background: darken( $blue, 15% );
    }
    
    &:active, &:focus{
        background: darken( $blue, 15% );
    }
}

.expanded.link{
    display:block;
    padding: .5em;
    text-align: center;
    text-transform:uppercase;
    color:$dark-grey;
    font-size:.8em;
    
    &:hover{
        color: $mid-grey;
    }
}

.off-canvas-wrapper, .off-canvas-wrapper-inner{
    height: 100%;
}

.off-canvas-content, .off-canvas-content{
    background: $light-grey;
    color: $dark-grey;
    min-height: 100%;
}



.menu-icon::after {
    background: $dark-grey none repeat scroll 0 0;
    box-shadow: 0 7px 0 $dark-grey, 0 14px 0 $dark-grey;
}


.off-canvas{
    background: none;
    color: #fff;
    
    .title{
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid $mid-grey;
        background: darken( $dark-grey, 5% );
    }
    
    .user-info{
        text-align: center;
        padding: 2em 0;
        font-size: .8em;
        
        .fa{
            color: $mid-grey;
        }
        
        h5{
            margin: .5em 0 0 0;
        }
        
        .subheader{
            font-style: italic;
            margin: 0;
            color: $half-white;
        }
    }
    
    .menu.vertical > li{
        border-bottom: 1px solid $mid-grey;
        
        &:first-child{
            border-top: 1px solid $mid-grey;
        }
        
        
        a{
            color: $half-white;
            position:relative;
            
            &:hover{
                color:#fff;
            }
            
            &:after{
                position: absolute;
                content: "\f054";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                opacity:.5;
                
                right:.5em;
                top: 50%;
                transform: translate(0, -50%);
                
            }
            
            
           &.current{
                background:$blue;
                color: rgba(255,255,255, .7);
                
            }
            
            .fa{
                font-size: 1.15em;
                margin-right: .25em;
            }
        }
        
        
    }
}

.title-bar {
    background: #fff;
    color: $dark-grey;
    margin-bottom: 20px;
    padding:0;
    
    a{
        color: $grey;
        
        &:hover{
            color: $dark-grey;
        }
    }
    
    li a, li button{
        padding:.75em .75em;
        display:inline-block;
    }
    
    .title-bar-left li{
        border-right:1px solid $light-grey;
        
        &.no-border{
            border:0;
        }
    }
    
    .title-bar-right li{
        border-left:1px solid $light-grey;
    }
}

.search{
    padding-left:.75em;
    
    label{
        color:$grey;
        display:inline-block;
        cursor:pointer;
        
        @include transition(all .3s ease);
        
        &:hover{
            color:$dark-grey;
        }
    }
    
    input,
    input:focus{
        display:inline-block;
        border:0;
        margin-bottom:0;
        width:auto;
        
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }
}

.callout{
    margin-bottom:1.9375rem;
}

.callout.card{
    padding:0;
    border:0;
    
    @include box-shadow();
    
    
    .callout-header{
        padding: .5em 1em;
        font-weight:bold;
        border-bottom: 1px solid $light-grey;
        
        h4{
            margin-bottom:0;
            
            .fa{
                margin-right:5px;
            }
        }
        
        .button{
            margin:0;
            padding: .5em .85em;
        }
    }
    
    .callout-body{
        padding: 1rem;
    }
    
    .callout-table{
        padding:0;
        overflow-x:auto;
        
        table{
            margin:0;
            border:0;
            line-height:1;
            
            [type="text"], [type="password"], [type="date"], [type="datetime"], [type="datetime-local"], [type="month"], [type="week"], [type="email"], [type="number"], [type="search"], [type="tel"], [type="time"], [type="url"], [type="color"], textarea,
            [type="file"], [type="checkbox"], [type="radio"]{
                margin-bottom:0;
            }
            
            &.dataTable{
                border:1px solid $light-grey;
                border-width:2px 0;
                
                thead th, thead td{
                    border-bottom:1px solid $light-grey;
                }
                
                td{
                    border-top:1px solid $light-grey;
                }
            }
        }
        
        .dataTables_info{
            padding:.85em .625em;
            font-size:.9em;
            color:$dark-grey;
        }
        
        .dataTables_length{
            margin:.625em .625em 0;
        }
        
        .dataTables_filter{
            margin:.625em .625em 0;
        
            input{
                margin-left: auto;
            }
        }
        
        .dataTables_wrapper .dataTables_paginate{
        
            padding-right:.625em;
        
            .paginate_button{
                border:0;
                background:none;
                color: $mid-grey;
                padding:0.5em;
                
                &.current{
                    color:$blue;
                    }
                    
            }
        }
        
        thead, tfoot,
        tbody tr:nth-child(2n){
            background:none;
        }
        
        tbody th, tbody td{
            padding:.85em .625em;
        }
        
        tr{
            border-top:1px solid $light-grey;
            
            &:hover{
                background:rgba(0,0,0,.02) !important;
            }
        }
        
        th{
            text-align:left;
        }
        
        small{
            color: $grey;
            
            .fa{
                margin-right:3px;
            }
        }
        
        .narrow{
            width:1%;
            white-space:nowrap;
        }
    }
    
    .callout-footer{
        border-top: 1px solid $light-grey;
        
        &.padded{
            padding:0.85em 0.625em;
        }
    }
}

th + td{
     border-left:1px solid $light-grey;
     position:relative;
}

.meta-count{
    position:absolute;
    right:.75em;
    top:.9em;
    color:#fff;
    background:$grey;
    height: 3.1em;
    line-height:3em;
    padding:0 1em;
    border:1px solid $grey;
}

.count{
    text-align:center;
    
    h6{
        color:$green-txt;
        text-transform:uppercase;
        margin-top:6px;
        margin-bottom:2px;
        font-size:.9em;
        letter-spacing:.5px;
    }
    
    .stat{
        font-size: 2rem;
        font-weight:bolder;
        
        a{
            color:$dark-grey;
            
            &:hover,
            &:active{
                color:$blue;
            }
        }
    }
    
    .count-icon{
        height:72px;
        width:72px;
        line-height:72px;
        background:$green;
        color:#fff;
        font-size:33px;
    }
}


.splash{
    padding-top:6em;
    
     background-image: asset-data-url('bg-login.jpg');
     background-size:cover;
     
    .callout-header{
        background: $light-grey;
        padding: 1rem;
        border:0;

        
        a{
            color: $mid-grey;
            text-transform:uppercase;
            font-family: 'Roboto Condensed', sans-serif;
            position:relative;
            line-height:82px;
            padding-top:0;
            padding-bottom:0;
            
            &:hover{
                color:$dark-grey;
            }
            
            &.active{
                color:$dark-grey;
            }
            
            &.active:after{
                 position: absolute;
                 content:"";
                 height:8px;
                 width:100%;
                 background: $dark-grey;
                 bottom:-10px;
                 left:0;
            }
        }
     }
  
    h3{
        font-family: 'Oswald', sans-serif;
        color: $green;
        letter-spacing:4px;
        text-transform:uppercase;
        margin-bottom:2em;
        font-size:30px;
        margin-top:2em;
    }

     .callout-body{
         padding-top:4em;
         padding-bottom:4em;
         background-image: asset-data-url('bg-hex.png');
         background-repeat:no-repeat;
         background-position: right 15px bottom 15px;
     }
     
}


.icon-circle{
    height:35px;
    width:35px;
    background:$grey;
    color:#fff;
    text-align:center;
    line-height:35px;
    
    @include border-radius(35px); 
}

.report{
    background:#fff;
    color:$grey !important;
    
    h1, h2, h3{
        font-family:"Oswald", sans-serif;
        text-transform:uppercase;
        color:$green !important;
        letter-spacing:.175em;
    }
    
    h1.business-name{
        color: darken( $blue, 15% ) !important;
        font-size:2.5em;
        letter-spacing:.1em;
        margin-bottom:.5em;
    }
    
    h2{
        font-size:60px;
    }
    
    h3{
        font-size:50px;
    }
    
    p{
        color:$dark-grey;
    }
    
    .blue{
        letter-spacing:normal;
        color:$blue !important;
    }
    
    .imgspace{
        margin-top:1.5em;
        margin-bottom:4.5em;
    }
    
   .header-report + .header-report{
       margin-top:2em;
   }
    
    .report-header{
        background:$light-grey;
        color:#fff;
        text-align:center;
        position:relative;
        margin-bottom: 3.5em;
        
        &.Next{
            background-image: asset-data-url('brand-next.png');
            background-position:left top;
            background-repeat: no-repeat;
            background-size:contain;
        }
        
        &.CGI{
            background-image: asset-data-url('brand-CGI.png');
            background-position:left top;
            background-repeat: no-repeat;
            background-size:contain;
        }
        
        h1{
            color:#fff !important;
            position:relative;
            left:0;
            right:0;
            font-size:75px;
            bottom:-.2em;
            letter-spacing:.175em;
            font-weight:bolder;
            line-height:1;
            margin-bottom:0;
        }
    }
    
    .lead-img{
        margin-bottom:2.5em;
        text-transform:uppercase;
        
        p{
            color:$blue !important;
        }
        
         p.dark-grey{
            color:$dark-grey !important;
            text-transform:none;
        }
        
        .arrows{
            background-image: asset-data-url('bg-arrows.png');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:contain;
        }
        
        .burst{
            background-image: asset-data-url('bg-burst.png');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:contain;
        }
        
        .chart{
            background-image: asset-data-url('bg-chart.png');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:contain;
        }
        
        .hex{
            background-image: asset-data-url('bg-hex2.png');
            background-position:center center;
            background-repeat:no-repeat;
            background-size:contain;
        }
        
        .columns + .columns{
            border-left:2px solid $dark-grey !important;
            padding-left:2em;
            padding-top:2em;
            padding-bottom:1.5em;
        }
        
        &.flip .columns + .columns{
            border-left:0 !important;
            border-right:2px solid $dark-grey !important;
            padding-right:2em;
        }
    }
    
    table.scores{
        border:0;
        margin:2.5em 0;
        
        tbody, tbody tr:nth-child(2n){
            background:0;
            border:0;
        }
            
        th{
            vertical-align:top;
            border:0;
        }
        
        td{
            border:0;
        }
        
        
        h4{
            color:$dark-grey !important;
            font-variant:small-caps;
            text-transform:none;
            font-weight:900;
            font-style:italic;
            font-family:"Raleway", sans-serif;
            margin-bottom:0;
        }
        
        p{
            color:$grey !important;
        }
    }
    
    
    .score{
        height:55px;
        width:55px;
        background-color:$grey;
        background-image: asset-data-url('bg-neutral.png');
        background-position:center center;
        background-repeat:none;
        
        @include border-radius(55px); 
        
        &.positive{
            background-color:$green;
            background-image: asset-data-url('bg-positive.png');
        }
        
        &.negative{
            background-color:$blue;
            background-image: asset-data-url('bg-negative.png');
        }
        
    }
    
    .trailing-arrows{
        background-image: asset-data-url('bg-trailing-arrows.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        padding-bottom:150px;
        margin-bottom:3em;
        
        h3{
        }
    }
    
    .trailing-burst{
        margin-bottom:3em;
    }
    
  
    
}

.mobileFriendiness{
    @include linearGradient($blue, #67D8E6);
    
    h1{
        color:rgba(255,255,255,.35) !important;
        font-size:75px;
        letter-spacing:.175em;
        margin:1em auto 2em;
    }
    
    iframe{
        border:0;
        height:100%;
        width:100%;
        background:#ccc;
    }
    
    .desktop{
        margin:0 auto 8em;
        background-image: asset-data-url('bg-desktop.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        height:908px;
        width:1102px;
        padding-left:40px;
        padding-right:40px;
        padding-top:36px;
        
        iframe{
            height:581px;
        }
    }
    
    .tablet{
        margin:0 auto 8em;
        background-image: asset-data-url('bg-tablet.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        height:788px;
        width:1200px;
        padding-top:40px;
        padding-left:135px;
        padding-right:135px;
        
        iframe{
            height:682px;
        }
        
    }
    
    .phone{
        margin:0 auto 8em;
        background-image: asset-data-url('bg-phone.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        height:1195px;
        width:684px;
        padding-top:135px;
        padding-left:88px;
        padding-right:88px;
        
        iframe{
            height:914px;
        }
        
    }
}

@media print {
    *{
        color: inherit !important;
    }
    
    /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-1 {
    width: 8.33333%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-1 {
    position: relative;
    left: 8.33333%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-1 {
    position: relative;
    left: -8.33333%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-0 {
    margin-left: 0%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-2 {
    width: 16.66667%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-2 {
    position: relative;
    left: 16.66667%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-2 {
    position: relative;
    left: -16.66667%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-1 {
    margin-left: 8.33333%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-3 {
    width: 25%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-3 {
    position: relative;
    left: 25%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-3 {
    position: relative;
    left: -25%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-2 {
    margin-left: 16.66667%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-4 {
    width: 33.33333%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-4 {
    position: relative;
    left: 33.33333%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-4 {
    position: relative;
    left: -33.33333%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-3 {
    margin-left: 25%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-5 {
    width: 41.66667%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-5 {
    position: relative;
    left: 41.66667%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-5 {
    position: relative;
    left: -41.66667%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-4 {
    margin-left: 33.33333%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-6 {
    width: 50%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-6 {
    position: relative;
    left: 50%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-6 {
    position: relative;
    left: -50%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-5 {
    margin-left: 41.66667%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-7 {
    width: 58.33333%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-7 {
    position: relative;
    left: 58.33333%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-7 {
    position: relative;
    left: -58.33333%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-6 {
    margin-left: 50%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-8 {
    width: 66.66667%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-8 {
    position: relative;
    left: 66.66667%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-8 {
    position: relative;
    left: -66.66667%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-7 {
    margin-left: 58.33333%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-9 {
    width: 75%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-9 {
    position: relative;
    left: 75%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-9 {
    position: relative;
    left: -75%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-8 {
    margin-left: 66.66667%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-10 {
    width: 83.33333%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-10 {
    position: relative;
    left: 83.33333%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-10 {
    position: relative;
    left: -83.33333%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-9 {
    margin-left: 75%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-11 {
    width: 91.66667%;
  }

  /* line 91, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-push-11 {
    position: relative;
    left: 91.66667%;
  }

  /* line 95, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-pull-11 {
    position: relative;
    left: -91.66667%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-10 {
    margin-left: 83.33333%;
  }

  /* line 85, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-12 {
    width: 100%;
  }

  /* line 103, /usr/local/rvm/gems/ruby-2.3.0/gems/foundation-rails-6.2.3.0/vendor/assets/scss/grid/_classes.scss */
  .medium-offset-11 {
    margin-left: 91.66667%;
  }
    
}

.login-form{
    padding-bottom:5em;
    color:$grey;
    
    .wrap-user,
    .wrap-pass{
        border-bottom:1px solid $dark-grey;
        margin-bottom:2em;
    }
    
    .wrap .fa{
        float:left;
        margin-top:0.75rem;
    }
    
    
    input,
    [type="text"]:focus, [type="password"]:focus, [type="date"]:focus, [type="datetime"]:focus, [type="datetime-local"]:focus, [type="month"]:focus, [type="week"]:focus, [type="email"]:focus, [type="number"]:focus, [type="search"]:focus, [type="tel"]:focus, [type="time"]:focus, [type="url"]:focus, [type="color"]:focus, textarea:focus{
        border:0;
        margin-bottom:0;
        width:auto;
        
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;
    }
    
    .button{
        margin-top:2em;
    }
}

.scoreCard{
    text-align:center;
    
    .gauge-mask{
        width:180px;
        height:90px;
        overflow:hidden;
        display:inline-block;

        .gauge{
            height:180px;
            width:180px;
            display:block;
            
            border:21px solid $grey;
            border-bottom-color:$green;
            border-right-color:$green;
            
            @include border-radius(180px);
        }
        
    }
}