<div class="callout card count clearfix">
    <div class="count-icon float-left">
        <i class="fa fa-bar-chart fa-fw"></i>        
    </div>
    <div>
        <h6>Total Phase 1s</h6>
        <div class="stat"><%= Phase1.count %></div>
    </div>
</div>