 <div class="callout card">
            
    <div class="callout-header">
        <%= link_to '<i class="fa fa-plus-circle fa-fw" aria-hidden="true"></i> New'.html_safe, new_business_phase1_path(@business), class: "button secondary small float-right" %>
        <h4><i class="fa fa-bar-chart fa-fw" aria-hidden="true"></i> Phase 1</h4>
    </div>
    <div class="callout-table">
        <table>
            
            <% @phase1s = @business.phase1s.all.reverse %>
            <% @phase1s.each do |phase1| %>
               <tr>
                    <td>
                        <%= phase1.created_at.to_formatted_s(:long) %>
                    </td>
                    <td class="text-right">
                        <%= link_to '<i class="fa fa-chevron-right fa-fw"></i>'.html_safe, business_phase1_path(@business, phase1) %>
                    </td>
                </tr>
             <% end %>
         
        </table>
    </div>
</div>