<div class="page-title">
    <h1>Page Details</h1>
    <nav aria-label="You are here:" role="navigation">
      <ul class="breadcrumbs">
        <li><%= link_to 'Phase 1',  phase1_path(params[:phase1_id]) %></li>
        <li>
          <span class="show-for-sr">Current: </span> New Page
        </li>
      </ul>
    </nav>
</div>

<% count = params[:count].to_i %>
<% count.to_i.times do |x| %>

    <div class="callout card">
        <div class="callout-header">
            <h4>Page <%= x + 1 %> Details</h4>
        </div>
        <div class="callout-table">
            
        </div>
    </div>

<% end %>

<div class="callout card">
    <div class="callout-header">
        <h4>Submit</h4>
    </div>
    <div class="callout-body">
        
    </div>
</div>